<li id="<%= dom_id(todo1) %>" class="todo-item">
  <span class="todo-status">
    <% if todo1.status == true %>
      [x]
    <% else %>
      [ ]
    <% end %>
  </span>

  <span class="todo-title <%= 'completed' if todo1.status == true %>">
    <%= todo1.title %>
  </span>

  <div class="todo-actions">
    <% if todo1.status == true %>
      <%= button_to "Incomplete", todo1_path(todo1, todo1: { status: false }), method: :patch, data: { turbo: false }, class: "inline-button" %>
    <% else %>
      <%= button_to "Complete", todo1_path(todo1, todo1: { status: true }), method: :patch, data: { turbo: false }, class: "inline-button" %>
    <% end %>

    <%= button_to "Delete", todo1_path(todo1), method: :delete, data: { turbo: false, confirm: "Are you sure you want to delete this todo?" }, class: "delete-button" %>
  </div>
</li>