<p style="color: green"><%= notice %></p>
<turbo-frame id="new_todo">
 <%= render @todo1 %>
<turbo-frame>

<div>
  <%= link_to "Edit this todo", edit_todo1_path(@todo1) %> |
  <%= link_to "Back to todos", todo1s_path %>

  <%= button_to "Destroy this todo", @todo1, method: :delete %>
</div>
